/* CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex ;
}

#header {
    margin-bottom: 0px;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: center;  
    flex-direction: row;
    background-color: #003366;
    width: 100%;

    gap: 80px;
    height: 80px;
}

.navbar {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 175%;
    justify-content: center;
    z-index: 2;
}

.logo {
    display: flex;
    height: 100%;
    background-color: #003366;    
    border: 3px solid #003366;
}

.logo img {
    width: auto;
    border: 8px double white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 30px 0 20px 0;
    position: relative;
}

.nav-links a:hover,
.nav-links a.active {
    color: white;
}

.nav-links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 100%;
    height: 5px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    transform: scaleX(1);
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .header-container {
        position: fixed;
        justify-content: center;
        padding: 0 20px;
        gap: 0;
        
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background-color: #003366;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        padding: 20px 0;
        gap: 0;
    }

    .logo-container {
        top: 0;
        z-index: 2;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links a {
        padding: 15px 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}